---
layout: page
title: Blog
date: 2011-02-04 14:20:24.000000000 +02:00
type: page
parent_id: '0'
published: true
status: publish
permalink: "/blog/"
---
<p>
{% for post in site.categories.Blog %}
  {% unless post.draft %}
    {% assign currentdate = post.date | date: "%Y" %}
      {% if currentdate != date %}
          {% unless forloop.first %}</ul>{% endunless %}
      <h3>{{ currentdate }}</h3>
          <ul>
                      {% assign date = currentdate %}
                        {% endif %}
                            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                              {% if forloop.last %}</ul>{% endif %}
                        {% endunless %}
                        {% endfor %}
</p>

