---
layout: page
title: Cicloturism
date: 2016-08-18 13:00:18.000000000 +03:00
type: page
parent_id: '0'
published: true
password: ''
status: publish
categories: []
tags: []
author:
  display_name: Dragos Iorgulescu
  first_name: Dragoș
  last_name: Iorgulescu
permalink: "/cicloturism/"
---

<p>
<h3>Prin Elveția și Italia (iunie 2016)</h3>
<ul>
	{% for post in site.categories.elvetiaitalia reversed%}
	  {% unless post.draft %}
	                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
			                    {% endunless %}
					                        {% endfor %}
								                    </ul>
</p>

<p>
<h3>Austria și Slovenia, via Veneția (iunie 2015)</h3>
<ul>
{% for post in site.categories.austriaslovenia reversed%}
  {% unless post.draft %}
		        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
		    {% endunless %}
		    {% endfor %}
		    </ul>
</p>

<p>
<h3>Berlin-Praga-Brno-Viena (iunie 2014)</h3>
<ul>
	{% for post in site.categories.berlinviena reversed%}
	  {% unless post.draft %}
	                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
			                    {% endunless %}
					                        {% endfor %}
								                    </ul>
</p>
