---
layout: page
title: Ture cu bicicleta
date: 2018-02-07 13:41:55.000000000 +02:00
type: page
parent_id: '0'
published: true
status: publish
categories: []
tags: []
author:
  login: diorgulescu
  email: diorgulescu@linuxmail.org
  display_name: Dragos Iorgulescu
  first_name: Dragoș
  last_name: Iorgulescu
permalink: "/turebicicleta/"
---
<p>
{% for post in site.categories.turebicicleta %}
  {% unless post.draft %}
    {% assign currentdate = post.date | date: "%Y" %}
      {% if currentdate != date %}
          {% unless forloop.first %}</ul>{% endunless %}
      <h3>{{ currentdate }}</h3>
          <ul>
		      {% assign date = currentdate %}
		        {% endif %}
			    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
			      {% if forloop.last %}</ul>{% endif %}
		        {% endunless %}
			{% endfor %}
</p>
