<header>
	<div align="center"><h1 font-family="Helvetica">VerdaSpirito.org</h1></div>
	<div align="center" class="menu">
	<p>
	  <b>
		 <a href="{{ site.baseurl }}/">Acasă</a> | 
		         <a href="{{ site.baseurl }}/cicloturism">Cicloturism</a> | 
			         <a href="{{ site.baseurl }}/drumetii">Drumeții</a> | 
				         <a href="{{ site.baseurl }}/turebicicleta">Ture cu bicicleta</a> | 
					         <a href="{{ site.baseurl }}/blog">Blog</a>
	  </b>
	    </p>
	</div>
	      <hr />
	
</header>
