<header>
	<div align="center"><h1 font-family="Helvetica">VerdaSpirito.org</h1></div>
	<ul class="nav">	
		<li class="nav"><a class="nav" href="{{ site.baseurl }}/">Acasă</a></li> 
		<li class="nav"><a class="nav" href="{{ site.baseurl }}/cicloturism">Cicloturism</a></li> 
		<li class="nav"><a class="nav" href="{{ site.baseurl }}/drumetii">Drumeții</a></li>
		<li class="nav"><a class="nav" href="{{ site.baseurl }}/turebicicleta">Ture cu bicicleta</a></li> 
		<li class="nav"><a class="nav" href="{{ site.baseurl }}/blog">Blog</a></li>
						 </ul>
	
</header>
