body{text-align:justify;margin-left:10%;width:80%;font-family: "Helvetica", Arial, monospace;font-size:14px;}
img {width: 100%;height: auto;}
.menu{text-align:center;font-family: "Verdana";font-size:16px;}
